@font-face {
    font-family: 'aqua grotesque regular';
    src: url(./fonts/aqua.ttf);
}
body{
    background-color: rgb(219, 219, 219);
    font-family: 'aqua grotesque regular';
}
h1{
    text-align: center;
    font-family: 'aqua grotesque regular';
}
.container{
    text-align: center;
    background-color: rgb(251, 251, 251);
    box-shadow: 5px 5px 5px grey;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
}
input[type="text"]{
    width: 35%;
    height: 35px;
    padding: 0 20px;
}
input[type="submit"]{
    height: 38px;
    padding: 0 20px;
    background-color: green;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: aliceblue;
}
table{
    text-align: center;
    width: 95%;
    background-color: rgb(219, 219, 219);
    margin: 20px auto;

}

tr{
    display: flex;
    justify-content: space-between;
}

/*  */
.striketaskDone{
    text-decoration: line-through;
}
.reset a{
    text-align: center;
    display:block;
    padding: 20px;
    width: 100px;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .container{
        width: 90%;
        margin: 20px auto;
    }
    input[type="text"]{
        width: 80%;
        height: 35px;
        padding: 0 20px;
        margin: 10px;
    }
    tr{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }
    td{
        margin: 10px;
    }
}